@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResource> Localizer

@{
    ViewData["Title"] = "Home Page";
}



@* <section id="about" class="about-section"> *@
@*     <div class="container"> *@
@*         <h2 class="section-title">@Localizer["about.title"]</h2> *@
@*         <p class="section-description">@Localizer["about.description"]</p> *@
@* *@
@*         <div class="values-section"> *@
@*             <h3 class="values-title">@Localizer["about.values.title"]</h3> *@
@*             <div class="row"> *@
@*                 <div class="col-md-4"> *@
@*                     <div class="value-card"> *@
@*                         <h4>@Localizer["about.values.quality.title"]</h4> *@
@*                         <p>@Localizer["about.values.quality.description"]</p> *@
@*                     </div> *@
@*                 </div> *@
@*                 <div class="col-md-4"> *@
@*                     <div class="value-card"> *@
@*                         <h4>@Localizer["about.values.innovation.title"]</h4> *@
@*                         <p>@Localizer["about.values.innovation.description"]</p> *@
@*                     </div> *@
@*                 </div> *@
@*                 <div class="col-md-4"> *@
@*                     <div class="value-card"> *@
@*                         <h4>@Localizer["about.values.sustainability.title"]</h4> *@
@*                         <p>@Localizer["about.values.sustainability.description"]</p> *@
@*                     </div> *@
@*                 </div> *@
@*             </div> *@
@*         </div> *@
@*     </div> *@
@* </section> *@